window {
  background-color: rgba (0, 0, 0, 0);
}

/* Outer bar container, takes all the window width/height */
#outer-box {
  background-color: #6c7086;
  border-radius: 10px;
}

/* Inner bar container, surrounds buttons */
#inner-box {
  padding: 5px;
  margin: 5px;
}

button,
image {
  background: none;
  border: none;
  box-shadow: none;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

button:hover {
  background-color: #f38ba8;
}

button:focus {
  background-color: #cba6f7;
}
